<i class="fa-solid fa-triangle-exclamation m-5" style="font-size: 250px;"></i>
<h1>糟糕，似乎沒有您要的網頁。</h1>
<h2>請檢查縮網址英文大小寫或文字有是否誤</h2>
<a href="/" class="btn btn-secondary btn-lg m-3" role="button">回到首頁</a>