<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="logo"
    style="height:300px" class="m-5">

<form action="/" method="post" style="width: 300px;">

    <div class="mb-3">
        <label for="longUrlInput" class="form-label">原網址</label>
        <input type="url" class="form-control" id="longUrlInput" placeholder="http://xxx.ooo" name="longUrl"
            value="http://{{longUrl}}" required>
    </div>

    <div class="mb-3">
        <label for="longUrlInput" class="form-label">短網址</label>
        <input type="string" class="form-control" id="shortUrl" name="shortUrlcode" value="{{domain}}/{{shortUrlCode}}">
    </div>

    <button type="submit" class="btn btn-primary">產生</button>
    {{#if shortUrlCode}}
    <button class="btn btn-primary" onclick="copyToClipboard()">複製短網址</button>
    {{/if}}
</form>


<script>
    function copyToClipboard() {
        var copyText = document.getElementById("shortUrl");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("已複製短網址: " + copyText.value);
    }
</script>